
/* Reset default margins and paddings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Full viewport container */
.full-page-container {
  position: relative; /* Relative positioning for child absolute positioning */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  
}
.About-Me {
  background-image: url("../images/About-me-Wallpaper.png");
  background-size:  cover;
  background-repeat: no-repeat;
}

/* Style for the background video */
.background-video {
  position: absolute; /* Position absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
  z-index: -1; /* Ensure video is behind content */
}

/* Style for the content */
.content {
  position: relative;
  z-index: 1; /* Ensure content is above the video */
  color: white; /* Text color to ensure it's visible against the background */
  text-align: center; /* Center content text */
  padding: 20px; /* Add some padding for readability */
}
.info {
  margin-top: 50px;
}

/* Style for image containers */
.img-left-container,
.img-right-container {
  margin-top: 30px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  opacity: 100;
  
}
.img-right-container{
  margin-right:30px; /* Center containers */
}

/* Style for images */
.img-left-container img,
.img-right-container img {
  height: 150px;
  width: 50%;
  margin:15px;
}

/* Responsive adjustments */
@media (max-width: 1469px) {
  .img-left-container img,
  .img-right-container img {
    width: 50%; /* Adjust width for smaller screens */
    height: 100px; /* Maintain aspect ratio */
  }
  .img-left-container,
  .img-right-container {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
  }
}
