body{
    background-color: black;
    
}

#card-page{
    position: relative;
    top: 98px;
    right: 15px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.card{
    position: relative;
    width: 300px;
    height: 400px;

    border:1px solid black;
    border-radius: 20px;
    
    background: red;
}

.card-back{
    background: blue;
}